SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=localhost,127.0.0.1,10.0.2.2
DB_NAME=
DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
SECURE_SSL_REDIRECT=True
CSRF_TRUSTED_ORIGINS=
FCM_SERVER_KEY=
FIREBASE_CREDENTIALS_PATH=
LLM_PROVIDER=gemini
LLM_API_KEY=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite
